<% provide :title, ('当前用户：' + current_user.name if logged_in?) %>
<% provide :subtitle, ('邮箱设置') %>
<body style="background: none">

<%= render 'shared/sidebar' %>

<div class="right-side-div">

  <h1><%= yield :subtitle %></h1>
  <div class="divide"></div>
  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= render 'email_form' %>
      <% flash.each do |message_type, message| %>
        <div class="alert password-reset-alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <div class="col-md-4">

    </div>
  </div>

</div>

</body>

