<% provide :title, '重置密码' %>
<header class="navbar navbar-fixed-top navbar-inverse">
  <%= link_to "选 课 系 统", root_path, id: "logo" %>
  <nav>
    <ul class="nav navbar-nav navbar-right">

    </ul>
  </nav>

</header>

<div class="container">

  <div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <%= render 'forget_password_form' %>

      <% flash.each do |message_type, message| %>
        <div class="alert forget-password-alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

    </div>
    <div class="col-md-4">

    </div>
  </div>



</div>

<%= render 'layouts/footer' %>

<style>

  .forget-password-alert {
    width: 348px;
    margin: 0 auto;
  }

</style>





