<% provide :title, ('当前用户：' + current_user.name if logged_in?) %>
<% provide :subtitle, (current_time_type + '好，欢迎进入选课系统！') %>
<body style="background: none">

<%= render 'shared/sidebar' %>

<div class="right-side-div">

  <% flash.each do |message_type, message| %>
    <div class="alert login-alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <h1><%= yield :subtitle %></h1>
  <div class="divide"></div>
  <div class="row">
    <%= render :partial => 'shared/user_info' %>
  </div>

</div>

</body>

