<h3>密码重置</h3>

<p>
  <%= @greeting %>, <%= @user.name %>。
</p>
<p>
  此邮件为选课系统的密码重置邮件。请点击以下链接以重置您的密码：
</p>
<p>
  <%= link_to '重置密码', edit_password_reset_url(@user.reset_token, {email: @user.email})%>
</p>
<p></p>
<p><%=Time.zone.now.year %>年<%=Time.zone.now.month %>月<%=Time.zone.now.day %>日</p>