<% provide :title, ('当前用户：' + current_user.name if logged_in?) %>
<% provide :subtitle, ('选择课程') %>
<body style="background: none">

<%= render 'shared/sidebar' %>
<%= render 'shared/bootstrap_table' %>

<div class="right-side-div">

  <% flash.each do |message_type, message| %>
    <div class="alert login-alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <h1><%= yield :subtitle %></h1>
  <div class="divide"></div>
  <table id="ArbetTable">

  </table>
</div>

<script type="application/javascript">
    $(function () {
        var oTable = new TableInit();
        oTable.Init();
    });

    var TableInit = function () {
        var oTableInit = {};
        oTableInit.Init = function () {
            $('#ArbetTable').bootstrapTable({
                url: '/all_courses',         //请求后台的URL（*）
                method: 'get',                      //请求方式（*）
                toolbar: '#toolbar',                //工具按钮用哪个容器
                striped: true,                      //是否显示行间隔色
                cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
                pagination: true,                   //是否显示分页（*）
                sortable: true,                     //是否启用排序
                sortOrder: "asc",                   //排序方式
                queryParams: oTableInit.queryParams,//传递参数（*）
                sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
                pageNumber: 1,                       //初始化加载第一页，默认第一页
                pageSize: 10,                       //每页的记录行数（*）
                pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
                contentType: "application/x-www-form-urlencoded",
                strictSearch: true,
                showColumns: true,                  //是否显示所有的列
                showRefresh: true,                  //是否显示刷新按钮
                minimumCountColumns: 2,             //最少允许的列数
                clickToSelect: true,                //是否启用点击选中行
                height: 700,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
                showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
                cardView: false,                    //是否显示详细视图
                detailView: false,                   //是否显示父子表
                columns: [
                    {
                        field: 'cno',
                        title: '课程号'
                    }, {
                        field: 'title',
                        title: '课程名'
                    }, {
                        field: 'year',
                        title: '学年'
                    }, {
                        field: 'semester',
                        title: '学期'
                    }, {
                        field: 'select_limit',
                        title: '限选人数',
                    }, {
                        field: 'selected_count',
                        title: '已选人数',
                    }, {
                        field: 'credit',
                        title: '学分',
                    }, {
                        field: 'hours',
                        title: '学时',
                    }, {
                        field: 'weeks',
                        title: '周次',
                    }, {
                        field: 'time_and_classroom',
                        title: '时间/教室',
                    }, {
                        field: 'dept_name',
                        title: '开课单位',
                    }, {
                        field: 'teachers',
                        title: '授课教师',
                    }, {
                        field: 'operate',
                        title: '操作',
                        formatter: operateFormatter //自定义方法，添加操作按钮
                    },
                ],
            });

        };

        //得到查询的参数
        oTableInit.queryParams = function (params) {
            var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的
                limit: params.limit,   //页面大小
                offset: params.offset
            };
            return temp;
        };
        return oTableInit;
    };


    function operateFormatter(value, row, index) {//赋予的参数
        return [
            '<%= link_to "选课", to_select_course_path, method: :create,
                  data: { confirm: "确定要选择这门课吗?" } %>',
            '<a href="#" style="margin-left: 10px">详细信息</a>',
        ].join('');
    }

</script>

</body>

