<% provide :title, ('当前用户：' + current_user.name if logged_in?) %>
<% provide :subtitle, ('选择课程') %>
<body style="background: none">

<%= render 'shared/sidebar' %>
<%= render 'shared/bootstrap_table' %>
<div class="right-side-div">

  <h1><%= yield :subtitle %></h1>
  <div class="divide"></div>
  <% flash.each do |message_type, message| %>
    <div class="alert course-alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <form class="form-inline" style="text-align: right; padding-right: 0" action="/select_courses" method="post">
    <%= tag(:input, :type => "hidden", :name =>
        request_forgery_protection_token.to_s, :value =>
                form_authenticity_token) %>

    <div class="form-group">
      <label for="year">学年：</label>
      <select class="form-control" id="year" name="year">
        <option>全部</option>
        <%= @years.each do |year| %>
          <% if params[:year].to_i == year %>
            <option value="<%= year %>" selected="selected"><%= year %></option>
          <% else %>
            <option value="<%= year %>"><%= year %></option>
          <% end %>
        <% end %> %>
      </select>
    </div>

    <div class="form-group">
      <label for="semester">学期：</label>
      <select class="form-control" id="semester" name="semester">
        <option>全部</option>
        <%= @semester.each do |value| %>
          <% if params[:semester].to_s == value %>
            <option value="<%= value %>" selected="selected"><%= value %></option>
          <% else %>
            <option value="<%= value %>"><%= value %></option>
          <% end %>
        <% end %> %>
      </select>
    </div>

    <div class="form-group">
      <label for="department">开课单位：</label>
      <select class="form-control" id="department" name="department">
        <option>全部</option>
        <% @departments.each do |d| %>
          <% if params[:department].to_i == d.id %>
            <option selected="selected" value="<%= d.id %>>"><%= d.name %></option>
          <% else %>
            <option value="<%= d.id %>"><%= d.name %></option>
          <% end %>
        <% end %>
      </select>
    </div>

    <div class="form-group">
      <label for="course-type">课程类型：</label>
      <select class="form-control" id="course-type" name="course_type">
        <option>全部</option>
        <option>专业选修课</option>
        <option>专业核心课</option>
        <option>专业必修课</option>
        <option>专业讨论课</option>
        <option>公共必修课</option>
        <option>公共选修课</option>
      </select>
    </div>

    <div class="form-group">
      <input type="submit" class="btn btn-default" value="搜 索"/>
    </div>

  </form>
  <table class="table table-striped table-bordered table-hover" style="margin-top: 10px">
    <thead>
    <th>学年</th>
    <th>学期</th>
    <th>课程编号</th>
    <th>课程名</th>
    <th>周次/时间/教室</th>
    <th>学时/学分</th>
    <th>类型</th>
    <th>授课教师</th>
    <th>限选/已选人数</th>
    <th>操作</th>
    </thead>
    <tbody>

    <% @courses.each do |c| %>
      <% if !c.students.include? @current_user %>
        <tr>
          <td><%= c.year %></td>
          <td><%= c.semester %></td>
          <td><%= c.cno %></td>
          <td><%= c.title %></td>
          <td>
            <% c.week_time_classroom.split(";").each do |time| %>
              <div><%= time %></div>
            <% end %>
          </td>
          <td><%= c.hours.to_s + "/" + c.credit.to_s %></td>
          <td><%= c.course_type %></td>
          <td><%= get_teachers_name c %></td>
          <td><%= c.select_limit.to_s + "/" + c.students.count.to_s %></td>
          <td><%= link_to '选课', to_select_course_url(cno: c.cno), method: :post, data: {confirm: "您确定要选这门课吗？"} %></td>
        </tr>
      <% end %>
    <% end %>

    </tbody>
  </table>

  <%= will_paginate @courses, {previous_label: "« 上一页", next_label: "下一页 »"} %>
</div>

<style>

  select {
    display: inline;
    width: auto;
    margin-right: 20px;
  }

  a:hover {
    background: none;
  }


</style>

</body>